/*=======================================================================================================================================*/
/*GOOGLE FONTS*/
/*=======================================================================================================================================*/
html {
    scroll-behavior: smooth;
}

.negrita {
    font-weight: bold;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.centrado {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centrado-right {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
}

.centrado-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centrado-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.letra-roboto {
    font-family: 'Roboto Serif', serif;
}

.letra-open-sans {
    font-family: 'Open Sans', sans-serif;
}

.letra-allan {
    font-family: 'Allan', cursive;
}

.letra-lato {
    font-family: 'Lato', sans-serif;
}

.letra-montserrat {
    font-family: 'Montserrat Alternates', sans-serif;
}

.letra-sigmar {
    font-family: 'Sigmar', cursive;
}

/*=======================================================================================================================================*/
/*HEADER*/
/*=======================================================================================================================================*/
.pre-header {
    height: 100px;
}

.header-grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.logo {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}

.logo:hover::before {
    opacity: 1;
}

.logo img,
.logo h1 {
    transition: transform 0.3s;
}

.logo-anime-img {
    transform: translateX(-5px);
}

.logo-anime-h1 {
    transform: translateX(15px);
}

.logo img {
    width: 80px;
}

.logo h1 {
    font-size: 25px;
}

.header-grid button {
    position: relative;
    overflow: hidden;
    height: 40px;
    background-color: #FB5B22;
    color: rgb(0, 0, 0);
    font-weight: 700;
    padding-inline: 20px;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
    font-size: 15px;
}

.header-grid button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #FF9F00;
    transition: left 0.3s;
    z-index: -1;
}

.header-grid button:hover {
    transform: scale(1.1);
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-grid button:hover::before {
    left: 0;
}

.header-menu {
    display: flex;
    align-items: center;
}

.bloque {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

/*=================================================*/
/*CARRUSEL*/
/*=================================================*/
.owl-carousel .item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.owl-carousel .item-grid .grid-item {
    height: 500px;
}

.containertor {
    position: relative;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.details {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: #666;
    animation: pulse 3s ease-in-out infinite;
}

.details li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.details li i {
    margin-right: 10px;
    color: #28a745;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(0.95);
        opacity: 1;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }
}

.img-pulse {
    width: 450px !important;
    height: 370px !important;
    animation: pulse-img 2s ease-in-out infinite;
}

@keyframes pulse-img {

    0%,
    100% {
        transform: scale(0.9);
        opacity: 0.9;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }
}

/*===========================================*/
/*SECCION PRODUCTOS*/
/*===========================================*/
.recorte {
    position: relative;
    width: 500px;
    height: 110px;
    background-color: rgb(255, 102, 0);
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
    overflow: hidden;
    z-index: 1;
}

.titulo-seccion {
    top: 50%;
    left: 50%;
    transform: translate(-58%, -50%);
    color: white;
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 5px;
    text-shadow:
        2px 2px 2px rgba(0, 0, 0, 0.3),
        4px 4px 4px rgba(0, 0, 0, 0.3),
        6px 6px 6px rgba(0, 0, 0, 0.3),
        8px 8px 8px rgba(0, 0, 0, 0.3);
}

.sombra {
    position: relative;
    width: 510px;
    height: 110px;
    background-color: rgba(192, 183, 183, 0.3);
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
    margin-top: -80px;
    margin-left: 0px;
    z-index: 0;
}

.contenedor-tarjetas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.tarjeta {
    position: relative;
    overflow: hidden;
    height: 250px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.tarjeta:hover {
    transform: scale(1.1);
}

.tarjeta img {
    width: 90%;
    height: auto;
    object-fit: cover;
}

.tarjeta button {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #FB5B22;
    color: #fff;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.tarjeta button:hover {
    background-color: #FF9F00;
}

.tarjeta .icon {
    margin-right: 10px;
    font-size: 20px;
}

.tarjeta .text {
    font-size: 14px;
}

.tarjeta button:hover .icon {
    animation: bounce 0.5s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-2px);
    }
}

/*===========================================*/
/*SECCION - EQUIPOS - INDUSTRIALES*/
/*===========================================*/
.recorte-2 {
    position: relative;
    width: 500px;
    height: 110px;
    background-color: rgb(255, 102, 0);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
    overflow: hidden;
    z-index: 1;
}

.recorte-2 .titulo-seccion {
    top: 50%;
    left: 50%;
    transform: translate(-38%, -50%);
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 5px;
    text-shadow:
        2px 2px 2px rgba(0, 0, 0, 0.3),
        4px 4px 4px rgba(0, 0, 0, 0.3),
        6px 6px 6px rgba(0, 0, 0, 0.3),
        8px 8px 8px rgba(0, 0, 0, 0.3);
}

.sombra-2 {
    position: relative;
    width: 500px;
    height: 110px;
    background-color: rgba(192, 183, 183, 0.3);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
    margin-top: -90px;
    margin-left: 0px;
    z-index: 0;
}

.posicion-derecha {
    margin-left: auto;
    transform: translateX(calc(100% - 500px));
}



/*===========================================*/
/*FOOTER*/
/*===========================================*/

/*=======================================================================================================================================*/
/*TABLET HORIZONTAL LG 1024px*/
/*=======================================================================================================================================*/
@media (max-width: 1199px) and (min-width: 992px) {
    .pre-header {
        height: 95px;
    }

    .item-grid {
        grid-template-columns: 1fr 1fr;
    }

    .img-pulse {
        width: 350px !important;
        height: auto !important;
    }

    .title {
        font-size: 28px;
    }

    .details li {
        margin-bottom: 5px;
    }

    /*===========================================*/
    /*SECCION PRODUCTOS*/
    /*===========================================*/
    .recorte {
        position: relative;
        width: 400px;
        height: 100px;
        background-color: rgb(255, 102, 0);
        clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
        overflow: hidden;
        z-index: 1;
    }

    .titulo-seccion {
        top: 50%;
        left: 50%;
        transform: translate(-58%, -50%);
        color: white;
        text-transform: uppercase;
        font-size: 35px;
        letter-spacing: 5px;
    }

    .sombra {
        position: relative;
        width: 410px;
        height: 100px;
        background-color: rgba(192, 183, 183, 0.3);
        clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
        margin-top: -80px;
        margin-left: 0px;
        z-index: 0;
    }

    .contenedor-tarjetas {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
    }

    .tarjeta {
        height: 230px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
    }

    .tarjeta:hover {
        transform: scale(1.1);
    }

    .tarjeta img {
        width: 90%;
        height: auto;
        object-fit: cover;
    }

    .tarjeta button {
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        padding: 5px 20px;
        background-color: #FB5B22;
        color: #fff;
        border: none;
        border-radius: 0px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    .tarjeta .icon {
        margin-right: 5px;
        font-size: 15px;
    }

    .tarjeta .text {
        font-size: 10px;
    }
}

/*=======================================================================================================================================*/
/*TABLET VERTICAL MD 768px*/
/*=======================================================================================================================================*/
@media (max-width: 991px) and (min-width: 768px) {

    /*===========================================*/
    /*HEADER*/
    /*===========================================*/
    .pre-header {
        height: 85px;
    }

    .header-grid {
        display: grid;
        grid-template-columns: 1.5fr 3fr;
    }

    .logo {
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

    .logo::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .logo:hover::before {
        opacity: 1;
    }

    .logo img,
    .logo h1 {
        transition: transform 0.3s;
    }

    .logo:hover img {
        transform: translateX(-10px);
    }

    .logo:hover h1 {
        transform: translateX(30px);
    }

    .logo img {
        width: 70px;
    }

    .logo h1 {
        font-size: 18px;
    }

    .header-grid button {
        font-size: 10px;
        position: relative;
        overflow: hidden;
        height: 30px;
        background-color: #FB5B22;
        color: rgb(0, 0, 0);
        font-weight: 700;
        padding-inline: 20px;
        border: none;
        border-radius: 5px;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    /*=================================================*/
    /*CARRUSEL*/
    /*=================================================*/
    .owl-carousel .item-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .owl-carousel .item-grid .grid-item {
        height: 300px;
    }

    .containertor {
        position: relative;
    }

    .title {
        font-size: 26px;
        font-weight: bold;
        color: #333;
        margin-bottom: 15px;
    }

    .details {
        list-style: none;
        padding: 0;
        margin: 0;
        font-family: "Arial", sans-serif;
        font-size: 12px;
        color: #666;
        animation: pulse 3s ease-in-out infinite;
    }

    .details li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .details li i {
        margin-right: 10px;
        color: #28a745;
    }

    .img-pulse {
        width: 350px !important;
        height: 270px !important;
        animation: pulse-img 2s ease-in-out infinite;
    }

    @keyframes pulse-img {

        0%,
        100% {
            transform: scale(0.8);
            opacity: 0.9;
        }

        50% {
            transform: scale(0.9);
            opacity: 1;
        }
    }

    /*===========================================*/
    /*SECCION PRODUCTOS*/
    /*===========================================*/
    .recorte {
        position: relative;
        width: 350px;
        height: 90px;
        z-index: 1;
    }

    .titulo-seccion {
        top: 50%;
        left: 50%;
        transform: translate(-58%, -50%);
        color: white;
        text-transform: uppercase;
        font-size: 28px;
        letter-spacing: 5px;
    }

    .sombra {
        position: relative;
        width: 360px;
        height: 90px;
        margin-top: -70px;
        margin-left: 0px;
        z-index: 0;
    }

    .contenedor-tarjetas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .tarjeta {
        height: 230px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
    }

    .tarjeta:hover {
        transform: scale(1.1);
    }

    .tarjeta img {
        width: 90%;
        height: auto;
        object-fit: cover;
    }

    .tarjeta button {
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        padding: 10px 20px;
        background-color: #FB5B22;
        color: #fff;
        border: none;
        border-radius: 0px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    .tarjeta .icon {
        margin-right: 5px;
        font-size: 17px;
    }

    .tarjeta .text {
        font-size: 14px;
    }
}

/*=======================================================================================================================================*/
/*MOVIL HORIZONTAL SM 576px*/
/*=======================================================================================================================================*/
@media (max-width: 767px) and (min-width: 576px) {

    /*===========================================*/
    /*HEADER*/
    /*===========================================*/
    .pre-header {
        height: 65px;
    }

    .header-grid {
        display: grid;
        grid-template-columns: 1.5fr 3fr;
    }

    .logo {
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

    .logo::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .logo:hover::before {
        opacity: 1;
    }

    .logo img,
    .logo h1 {
        transition: transform 0.3s;
    }

    .logo:hover img {
        transform: translateX(-5px);
    }

    .logo:hover h1 {
        transform: translateX(10px);
    }

    .logo img {
        width: 50px;
    }

    .logo h1 {
        font-size: 15px;
    }

    .header-grid button {
        font-size: 8px;
        position: relative;
        overflow: hidden;
        height: 25px;
        background-color: #FB5B22;
        color: rgb(0, 0, 0);
        font-weight: 700;
        padding-inline: 15px;
        border: none;
        border-radius: 5px;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    /*=================================================*/
    /*CARRUSEL*/
    /*=================================================*/
    .owl-carousel {
        height: 280px;
    }

    .owl-carousel .item-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .owl-carousel .item-grid .grid-item {
        height: 280px;
    }

    .containertor {
        position: relative;
    }

    .title {
        font-size: 15px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }

    .details {
        list-style: none;
        padding: 0;
        margin: 0;
        font-family: "Arial", sans-serif;
        font-size: 10px;
        color: #666;
        animation: pulse 3s ease-in-out infinite;
    }

    .details li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .details li i {
        margin-right: 10px;
        color: #28a745;
    }

    .img-pulse {
        width: 350px !important;
        height: 270px !important;
        animation: pulse-img 2s ease-in-out infinite;
    }

    @keyframes pulse-img {

        0%,
        100% {
            transform: scale(0.6);
            opacity: 0.9;
        }

        50% {
            transform: scale(0.7);
            opacity: 1;
        }
    }

    /*===========================================*/
    /*SECCION PRODUCTOS*/
    /*===========================================*/
    .recorte {
        position: relative;
        width: 350px;
        height: 75px;
        z-index: 1;
    }

    .titulo-seccion {
        top: 50%;
        left: 50%;
        transform: translate(-58%, -50%);
        color: white;
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: 5px;
    }

    .sombra {
        position: relative;
        width: 360px;
        height: 75px;
        margin-top: -55px;
        margin-left: 0px;
        z-index: 0;
    }

    .contenedor-tarjetas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .tarjeta {
        height: 230px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
    }

    .tarjeta:hover {
        transform: scale(1.1);
    }

    .tarjeta img {
        width: 90%;
        height: auto;
        object-fit: cover;
    }

    .tarjeta button {
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        padding: 10px 20px;
        background-color: #FB5B22;
        color: #fff;
        border: none;
        border-radius: 0px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    .tarjeta .icon {
        margin-right: 5px;
        font-size: 15px;
    }

    .tarjeta .text {
        font-size: 12px;
    }
}

/*=======================================================================================================================================*/
/*MOVIL VERTICAL 320px*/
/*=======================================================================================================================================*/
@media (max-width: 575px) {

    /*===========================================*/
    /*HEADER*/
    /*===========================================*/
    .pre-header {
        height: 65px;
    }

    .header-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .logo {
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

    .logo::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .logo:hover::before {
        opacity: 1;
    }

    .logo img,
    .logo h1 {
        transition: transform 0.3s;
    }

    .logo img {
        width: 50px;
    }

    .logo h1 {
        font-size: 15px;
    }

    .header-grid button {
        font-size: 8px;
        position: relative;
        overflow: hidden;
        height: 20px;
        background-color: #FB5B22;
        color: rgb(0, 0, 0);
        font-weight: 700;
        padding-inline: 10px;
        border: none;
        border-radius: 5px;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .header-menu {
        overflow: hidden;
        height: 0;
        transition: height 0.1s linear;
    }

    .bloque {
        display: none;
        width: 100%;
        margin-bottom: 5px;
    }

    .header-menu {
        display: flex;
        align-items: center;
    }

    .bloque {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

    }

    /*=================================================*/
    /*CARRUSEL*/
    /*=================================================*/
    .owl-carousel {
        height: 480px;
        padding: 15px;
    }

    .owl-carousel .item-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .owl-carousel .item-grid .grid-item:nth-child(2) {
        height: 280px;
    }

    .owl-carousel .item-grid .grid-item:nth-child(1) {
        height: 150px;
    }

    .containertor {
        position: relative;
    }

    .anulando {
        position: static;
        top: auto;
        left: auto;
        transform: none;
    }

    .title {
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: #333;
        margin-bottom: 20px;
    }

    .details {
        list-style: none;
        padding: 0;
        margin: 0;
        font-family: "Arial", sans-serif;
        font-size: 10px;
        color: #666;
        animation: pulse 3s ease-in-out infinite;
    }

    .details li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .details li i {
        margin-right: 10px;
        color: #28a745;
    }

    .img-pulse {
        width: 350px !important;
        height: 270px !important;
        animation: pulse-img 2s ease-in-out infinite;
    }

    @keyframes pulse-img {

        0%,
        100% {
            transform: scale(0.6);
            opacity: 0.9;
        }

        50% {
            transform: scale(0.7);
            opacity: 1;
        }
    }

    /*===========================================*/
    /*SECCION PRODUCTOS*/
    /*===========================================*/
    .recorte {
        position: relative;
        width: 270px;
        height: 50px;
        z-index: 1;
    }

    .titulo-seccion {
        top: 50%;
        left: 50%;
        transform: translate(-58%, -50%);
        color: white;
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: 5px;
    }

    .sombra {
        position: relative;
        width: 280px;
        height: 50px;
        margin-top: -35px;
        margin-left: 0px;
        z-index: 0;
    }

    .contenedor-tarjetas {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }

    .tarjeta {
        height: 220px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
    }

    .tarjeta:hover {
        transform: scale(1.1);
    }

    .tarjeta img {
        width: 70%;
        height: auto;
        object-fit: cover;
    }

    .tarjeta button {
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        padding: 10px 20px;
        background-color: #FB5B22;
        color: #fff;
        border: none;
        border-radius: 0px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    .tarjeta .icon {
        margin-right: 5px;
        font-size: 15px;
    }

    .tarjeta .text {
        font-size: 14px;
        letter-spacing: 1px;
    }
}