/*=======================================================================================================================================*/
/*GOOGLE FONTS*/
/*=======================================================================================================================================*/
html {
    scroll-behavior: smooth;
}

.negrita {
    font-weight: bold;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.centrado {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centrado-right {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
}

.centrado-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centrado-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.letra-roboto {
    font-family: 'Roboto Serif', serif;
}

.letra-open-sans {
    font-family: 'Open Sans', sans-serif;
}

.letra-allan {
    font-family: 'Allan', cursive;
}

.letra-lato {
    font-family: 'Lato', sans-serif;
}

.letra-montserrat {
    font-family: 'Montserrat Alternates', sans-serif;
}

.letra-monserrat-serif {
    font-family: 'Montserrat', sans-serif;
}

.letra-sigmar {
    font-family: 'Sigmar', cursive;
}

.letra-signika {
    font-family: 'Signika Negative', sans-serif;
}

/*=======================================================================================================================================*/
/*HEADER*/
/*=======================================================================================================================================*/
.pre-header {
    height: 100px;
}

.header-grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.logo {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}

.logo:hover::before {
    opacity: 1;
}

.logo img,
.logo h1 {
    transition: transform 0.3s;
}

.logo-anime-img {
    transform: translateX(-5px);
}

.logo-anime-h1 {
    transform: translateX(15px);
}

.logo img {
    width: 80px;
}

.logo h1 {
    font-size: 25px;
}

.header-grid button {
    position: relative;
    overflow: hidden;
    font-weight: 100;
    height: 40px;
    background-color: #FB5B22;
    color: rgb(0, 0, 0);
    font-weight: 700;
    padding-inline: 20px;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
    font-size: 15px;
}

.header-grid button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #FF9F00;
    transition: left 0.3s;
    z-index: -1;
}

.header-grid button:hover {
    transform: scale(1.1);
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-grid button:hover::before {
    left: 0;
}

.header-grid button i {
    position: relative;
    font-size: 25px;
    font-weight: 100;
    padding-left: 15px;
    padding-right: 15px;
}

.header-grid button i .contador-carrito {
    position: absolute;
    top: -8px;
    font-size: 20px;

}

.header-menu {
    display: flex;
    align-items: center;
}

.bloque {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

/*=================================================*/
/*CARRUSEL*/
/*=================================================*/
.owl-carousel .item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.owl-carousel .item-grid .grid-item {
    height: 500px;
}

.containertor {
    position: relative;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.details {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: #666;
    animation: pulse 3s ease-in-out infinite;
}

.details li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.details li i {
    margin-right: 10px;
    color: #28a745;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(0.95);
        opacity: 1;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }
}

.img-pulse {
    width: 450px !important;
    height: 370px !important;
    animation: pulse-img 2s ease-in-out infinite;
}

@keyframes pulse-img {

    0%,
    100% {
        transform: scale(0.9);
        opacity: 0.9;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }
}

/*===========================================*/
/*SECCION PRODUCTOS*/
/*===========================================*/
.recorte {
    position: relative;
    width: 500px;
    height: 110px;
    background-color: rgb(255, 102, 0);
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
    overflow: hidden;
    z-index: 1;
}

.titulo-seccion {
    top: 50%;
    left: 50%;
    transform: translate(-58%, -50%);
    color: white;
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 5px;
    text-shadow:
        2px 2px 2px rgba(0, 0, 0, 0.3),
        4px 4px 4px rgba(0, 0, 0, 0.3),
        6px 6px 6px rgba(0, 0, 0, 0.3),
        8px 8px 8px rgba(0, 0, 0, 0.3);
}

.sombra {
    position: relative;
    width: 510px;
    height: 110px;
    background-color: rgba(192, 183, 183, 0.3);
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
    margin-top: -80px;
    margin-left: 0px;
    z-index: 0;
}

.contenedor-tarjetas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.tarjeta {
    position: relative;
    overflow: hidden;
    height: 250px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.tarjeta:hover {
    transform: scale(1.1);
}

.tarjeta img {
    width: 90%;
    height: auto;
    object-fit: cover;
}

.tarjeta button {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #FB5B22;
    color: #fff;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.tarjeta button:hover {
    background-color: #FF9F00;
}

.tarjeta .icon {
    margin-right: 10px;
    font-size: 20px;
}

.tarjeta .text {
    font-size: 14px;
}

.tarjeta button:hover .icon {
    animation: bounce 0.5s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-2px);
    }
}

/*===========================================*/
/*SECCION - EQUIPOS - INDUSTRIALES*/
/*===========================================*/
.recorte-2 {
    position: relative;
    width: 500px;
    height: 110px;
    background-color: rgb(255, 102, 0);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
    overflow: hidden;
    z-index: 1;
}

.recorte-2 .titulo-seccion {
    top: 50%;
    left: 50%;
    transform: translate(-38%, -50%);
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 5px;
    text-shadow:
        2px 2px 2px rgba(0, 0, 0, 0.3),
        4px 4px 4px rgba(0, 0, 0, 0.3),
        6px 6px 6px rgba(0, 0, 0, 0.3),
        8px 8px 8px rgba(0, 0, 0, 0.3);
}

.sombra-2 {
    position: relative;
    width: 500px;
    height: 110px;
    background-color: rgba(192, 183, 183, 0.3);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
    margin-top: -90px;
    margin-left: 0px;
    z-index: 0;
}

.posicion-derecha {
    margin-left: auto;
    transform: translateX(calc(100% - 500px));
}

.grid-industrial {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}

.grid-industrial .card {
    position: relative;
    background-color: #f2f2f2;
    text-align: center;
}

.img-industrial {
    width: 100%;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: 500px auto;
    background-position: left top;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: all .3s;
    cursor: pointer;
}

.img-industrial:hover {
    background-position: -50px top;
}

.grid-industrial .card h3 {
    margin-top: 10px;
}

.grid-industrial .card button {
    width: 70%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    padding: 20px 20px;
    font-size: 18px;
    background-color: #fb5c22b7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    transition: all .3s;
}

.grid-industrial .card button:hover {
    background-color: #ff9d00d4;
    color: #000000;
}

.grid-industrial .card button i {
    margin-right: 10px;
}

/*===========================================*/
/*PAGINA PRODUCTOS*/
/*===========================================*/
.pagina-productos {
    display: flex;
    align-items: flex-start;
}

.pagina-productos .categorias {
    width: 25%;
    height: auto;
}

.pagina-productos .categorias h1 {
    font-size: 25px;
}

.pagina-productos .categorias-img {
    width: 75%;
    height: auto;
}

/* CATEGORIAS MENU */

.menu-productos {
    list-style: none;
    padding: 0;
    margin: 0;
}

.category-productos {
    border: 2px solid #00000078;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.category-productos:hover {
    background-color: #ffee00;
}

.category-header {
    font-weight: bold;
}

.subcategories-productos {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}

.subcategories-productos li {
    align-items: center;
    padding: 5px 0;
    font-size: 15px;
    letter-spacing: 1px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.174);
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 0px;
    padding-left: 25px;
    padding-top: 10px;
    transition: all .2s;
    font-weight: 300;
}

.subcategories-productos li:hover {
    background-color: #ffffff;
}

.category-productos.active .subcategories-productos {
    transition: max-height 0.3s ease;
}

.category-productos.active {
    background-color: #ffee00;
}

.menu-toggle-button {
    display: none;
}

/*===========================================*/
/*CATEGORIA IMAGENES*/
/*===========================================*/
.container__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 10px;
    column-gap: 20px;
    row-gap: 20px;
}

.card__father {
    perspective: 1000px;
}

.card__father:hover .cardA {
    transform: rotateY(180deg);
    cursor: pointer;
}


.cardA {
    height: 350px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}

.card__front {
    background-size: cover;
    background-position: center;
}


.card__front,
.card__back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.card__back {
    transform: rotateY(180deg);
    background: white;
}

.body__card_front {
    bottom: 0;
    width: 100%;
    height: 70px;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #fc5c04 !important;
    transform: translateZ(60px);
}

.body__card_front h1 {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0px;
    font-weight: 700;
    color: #ffffff;
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    padding-top: 35px;

}

.contenedor-tipo {
    height: 100%;
}

.body__card_back {
    padding: 10px;
    height: 100%;
    transform: translateZ(60px);
}

.body__card_back h1 {
    font-size: 20px;
}

.body__card_back p {
    margin-top: 30px;
    font-size: 15px;
}

.my-button {
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 30px;
    border: none;
    border-radius: 10px;
    background-color: #ff6f00;
    color: white;
    font-size: 16px;
    font-weight: 100;
    cursor: pointer;
    overflow: hidden;
    transform-origin: center;
    transition: all .5s;
}

.my-button:hover {
    background-color: #ff9000;
}

.my-button i {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    top: 2px;
    margin-right: 5px;
    font-size: 20px;
}

.my-button:hover i {
    animation: shake 3s;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-5px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

.product-description {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.185);
}

.product-description ul {
    list-style-type: disc;
    margin-left: 0px;
}

.product-description li {
    color: #666;
    font-size: 13px;
    margin-bottom: 5px;
}

.product-description li::before {
    content: "•";
    color: #ff6f00;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/*===========================================*/
/*BOTON SCROLL TOP*/
/*===========================================*/
.scroll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #ff5722;
    color: #ffffff;
    font-size: 20px;
    display: none;
    cursor: pointer;
    z-index: 9999;
    animation: fadeIn 0.3s ease-in-out;
}

/* Estilos de animación */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*===========================================*/
/*FOOTER*/
/*===========================================*/

/*=======================================================================================================================================*/
/*TABLET HORIZONTAL LG 1024px*/
/*=======================================================================================================================================*/
@media (max-width: 1199px) and (min-width: 992px) {
    .pre-header {
        height: 95px;
    }

    .item-grid {
        grid-template-columns: 1fr 1fr;
    }

    .img-pulse {
        width: 350px !important;
        height: auto !important;
    }

    .title {
        font-size: 28px;
    }

    .details li {
        margin-bottom: 5px;
    }

    /*===========================================*/
    /*SECCION PRODUCTOS*/
    /*===========================================*/
    .recorte {
        position: relative;
        width: 400px;
        height: 100px;
        background-color: rgb(255, 102, 0);
        clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
        overflow: hidden;
        z-index: 1;
    }

    .titulo-seccion {
        top: 50%;
        left: 50%;
        transform: translate(-58%, -50%);
        color: white;
        text-transform: uppercase;
        font-size: 35px;
        letter-spacing: 5px;
    }

    .sombra {
        position: relative;
        width: 410px;
        height: 100px;
        background-color: rgba(192, 183, 183, 0.3);
        clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
        margin-top: -80px;
        margin-left: 0px;
        z-index: 0;
    }

    .contenedor-tarjetas {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
    }

    .tarjeta {
        height: 230px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
    }

    .tarjeta:hover {
        transform: scale(1.1);
    }

    .tarjeta img {
        width: 90%;
        height: auto;
        object-fit: cover;
    }

    .tarjeta button {
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        padding: 5px 20px;
        background-color: #FB5B22;
        color: #fff;
        border: none;
        border-radius: 0px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    .tarjeta .icon {
        margin-right: 5px;
        font-size: 15px;
    }

    .tarjeta .text {
        font-size: 10px;
    }

    /*===========================================*/
    /*SECCION - EQUIPOS - INDUSTRIALES*/
    /*===========================================*/
    .recorte-2 .titulo-seccion {
        top: 50%;
        left: 50%;
        transform: translate(-38%, -50%);
        color: white;
        text-transform: uppercase;
        font-size: 35px;
        letter-spacing: 5px;
    }

    .grid-industrial {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }

    .grid-industrial .card {
        position: relative;
        background-color: #f2f2f2;
        text-align: center;
    }

    .img-industrial {
        width: 100%;
        height: 250px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-size: cover;
        background-position: left top;
        background-repeat: no-repeat;
        overflow: hidden;
        transition: all .3s;
        cursor: pointer;
    }

    .img-industrial:hover {
        background-position: 100% top;
    }

    .grid-industrial .card h3 {
        margin-top: 10px;
    }

    .grid-industrial .card button {
        width: 80%;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        padding: 15px 15px;
        font-size: 13px;
        background-color: #fb5c22b7;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        transition: all .3s;
    }

    .grid-industrial .card button:hover {
        background-color: #ff9d00d4;
        color: #000000;
    }

    .grid-industrial .card button i {
        margin-right: 10px;
    }

    /*===========================================*/
    /*PAGINA PRODUCTOS*/
    /*===========================================*/
    .pagina-productos .categorias {
        width: 20%;
        height: auto;
    }

    .pagina-productos .categorias h1 {
        font-size: 20px;
    }

    .pagina-productos .categorias-img {
        width: 80%;
        height: auto;
    }

    /* CATEGORIAS MENU */

    .category-productos {
        border: 2px solid #00000078;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
    }

    .category-header {
        font-weight: bold;
        font-size: 14px;
        margin-top: 5px;
    }

    .subcategories-productos {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease;
    }

    .subcategories-productos li {
        align-items: center;
        font-size: 10px;
        letter-spacing: 1px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.174);
        height: 40px;
        margin-top: 10px;
        border-radius: 5px;
        margin-left: 0px;
        padding-left: 10px;
        padding-top: 11px;
        transition: all .2s;
        font-weight: 300;
    }

    /*===========================================*/
    /*CATEGORIA IMAGENES*/
    /*===========================================*/
    .container__card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 10px 10px;
        column-gap: 20px;
        row-gap: 20px;
    }

    .cardA {
        height: 330px;
    }

    .body__card_front {
        height: 70px;
        padding: 10px;
    }

    .body__card_front h1 {
        font-size: 15px;
        letter-spacing: 0px;
        font-weight: 700;
        color: #ffffff;
    }

    .bg {
        padding: 15px;
        padding-top: 12px;
    }

    .body__card_back {
        padding: 10px;
    }

    .my-button {
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 5px 30px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 100;
        transition: all 1s;
    }

    .my-button:hover {
        background-color: #ff9000;
    }

    .my-button i {
        top: 2px;
        margin-right: 5px;
        font-size: 20px;
    }

    .product-description {
        padding: 10px 0px;
    }

    .product-description li {
        color: #666;
        font-size: 13px;
        margin-bottom: 5px;
    }

    .product-description li::before {
        content: "•";
        color: #ff6f00;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }

}

/*=======================================================================================================================================*/
/*TABLET VERTICAL MD 768px*/
/*=======================================================================================================================================*/
@media (max-width: 991px) and (min-width: 768px) {

    /*===========================================*/
    /*HEADER*/
    /*===========================================*/
    .pre-header {
        height: 85px;
    }

    .header-grid {
        display: grid;
        grid-template-columns: 1.5fr 3fr;
    }

    .logo {
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

    .logo::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .logo:hover::before {
        opacity: 1;
    }

    .logo img,
    .logo h1 {
        transition: transform 0.3s;
    }

    .logo:hover img {
        transform: translateX(-10px);
    }

    .logo:hover h1 {
        transform: translateX(30px);
    }

    .logo img {
        width: 70px;
    }

    .logo h1 {
        font-size: 18px;
    }

    .header-grid button {
        font-size: 10px;
        position: relative;
        overflow: hidden;
        height: 30px;
        background-color: #FB5B22;
        color: rgb(0, 0, 0);
        font-weight: 700;
        padding-inline: 20px;
        border: none;
        border-radius: 5px;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .header-grid button i {
        position: relative;
        font-size: 20px;
        font-weight: 100;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-grid button i .contador-carrito {
        position: absolute;
        top: -5px;
        font-size: 15px;

    }

    /*=================================================*/
    /*CARRUSEL*/
    /*=================================================*/
    .owl-carousel .item-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .owl-carousel .item-grid .grid-item {
        height: 300px;
    }

    .containertor {
        position: relative;
    }

    .title {
        font-size: 26px;
        font-weight: bold;
        color: #333;
        margin-bottom: 15px;
    }

    .details {
        list-style: none;
        padding: 0;
        margin: 0;
        font-family: "Arial", sans-serif;
        font-size: 12px;
        color: #666;
        animation: pulse 3s ease-in-out infinite;
    }

    .details li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .details li i {
        margin-right: 10px;
        color: #28a745;
    }

    .img-pulse {
        width: 350px !important;
        height: 270px !important;
        animation: pulse-img 2s ease-in-out infinite;
    }

    @keyframes pulse-img {

        0%,
        100% {
            transform: scale(0.8);
            opacity: 0.9;
        }

        50% {
            transform: scale(0.9);
            opacity: 1;
        }
    }

    /*===========================================*/
    /*SECCION PRODUCTOS*/
    /*===========================================*/
    .recorte {
        position: relative;
        width: 350px;
        height: 90px;
        z-index: 1;
    }

    .titulo-seccion {
        top: 50%;
        left: 50%;
        transform: translate(-58%, -50%);
        color: white;
        text-transform: uppercase;
        font-size: 28px;
        letter-spacing: 5px;
    }

    .sombra {
        position: relative;
        width: 360px;
        height: 90px;
        margin-top: -70px;
        margin-left: 0px;
        z-index: 0;
    }

    .contenedor-tarjetas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .tarjeta {
        height: 230px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
    }

    .tarjeta:hover {
        transform: scale(1.1);
    }

    .tarjeta img {
        width: 90%;
        height: auto;
        object-fit: cover;
    }

    .tarjeta button {
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        padding: 10px 20px;
        background-color: #FB5B22;
        color: #fff;
        border: none;
        border-radius: 0px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    .tarjeta .icon {
        margin-right: 5px;
        font-size: 17px;
    }

    .tarjeta .text {
        font-size: 14px;
    }

    /*===========================================*/
    /*SECCION - EQUIPOS - INDUSTRIALES*/
    /*===========================================*/
    .recorte-2 {
        position: relative;
        width: 350px;
        height: 90px;
        background-color: rgb(255, 102, 0);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
        overflow: hidden;
        z-index: 1;
    }

    .recorte-2 .titulo-seccion {
        top: 50%;
        left: 50%;
        transform: translate(-38%, -50%);
        color: white;
        text-transform: uppercase;
        font-size: 25px;
        letter-spacing: 5px;
        text-shadow:
            2px 2px 2px rgba(0, 0, 0, 0.3),
            4px 4px 4px rgba(0, 0, 0, 0.3),
            6px 6px 6px rgba(0, 0, 0, 0.3),
            8px 8px 8px rgba(0, 0, 0, 0.3);
    }

    .sombra-2 {
        position: relative;
        width: 360px;
        height: 100px;
        background-color: rgba(192, 183, 183, 0.3);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
        margin-top: -85px;
        margin-left: 0px;
        z-index: 0;
    }

    .posicion-derecha {
        margin-left: auto;
        transform: translateX(calc(100% - 350px));
    }

    .posicion-derecha-sombra {
        margin-left: auto;
        transform: translateX(calc(100% - 360px));
    }

    /*===========================================*/
    /*SECCION GRID INDUSTRIALES*/
    /*===========================================*/
    .grid-industrial {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
        row-gap: 15px;
    }

    .grid-industrial .card {
        position: relative;
        background-color: #f2f2f2;
        text-align: center;
    }

    .img-industrial {
        width: 100%;
        height: 250px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-size: cover;
        background-position: left top;
        background-repeat: no-repeat;
        overflow: hidden;
        transition: all .3s;
        cursor: pointer;
    }

    .img-industrial:hover {
        background-position: 100% top;
    }

    .grid-industrial .card h3 {
        margin-top: 10px;
    }

    .grid-industrial .card button {
        width: 80%;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        padding: 20px 20px;
        font-size: 13px;
        background-color: #fb5c22b7;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        transition: all .3s;
    }

    .grid-industrial .card button:hover {
        background-color: #ff9d00d4;
        color: #000000;
    }

    .grid-industrial .card button i {
        margin-right: 10px;
    }

    /*===========================================*/
    /*PAGINA PRODUCTOS*/
    /*===========================================*/
    .pagina-productos .categorias {
        width: 25%;
        height: auto;
    }

    .pagina-productos .categorias h1 {
        font-size: 15px;
    }

    .pagina-productos .categorias-img {
        width: 75%;
        height: auto;
    }

    /* CATEGORIAS MENU */

    .category-productos {
        border: 2px solid #00000078;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
    }

    .category-header {
        font-weight: bold;
        font-size: 12px;
        margin-top: 5px;
    }

    .subcategories-productos {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease;
    }

    .subcategories-productos li {
        align-items: center;
        font-size: 10px;
        letter-spacing: 0px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.174);
        height: 40px;
        margin-top: 10px;
        border-radius: 5px;
        margin-left: 0px;
        padding-left: 10px;
        padding-top: 11px;
        transition: all .2s;
        font-weight: 300;
    }

    /*===========================================*/
    /*CATEGORIA IMAGENES*/
    /*===========================================*/
    .container__card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 10px 10px;
        column-gap: 15px;
        row-gap: 15px;
    }

    .cardA {
        height: 300px;
    }

    .body__card_front {
        height: 60px;
        padding: 20px;
    }

    .body__card_front h1 {
        font-size: 12px;
        margin-top: 10px;
        letter-spacing: 0px;
        font-weight: 700;
        color: #ffffff;
    }

    .bg {
        padding: 10px;
        padding-top: 40px;
    }

    .body__card_back {
        padding: 10px;
    }

    .my-button {
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 5px 20px;
        border-radius: 5px;
        font-size: 5px;
        font-weight: 100;
        transition: all 1s;
    }

    .my-button:hover {
        background-color: #ff9000;
    }

    .my-button i {
        top: 2px;
        margin-right: 5px;
        font-size: 15px;
    }

    .product-description {
        padding: 10px 0px;
    }

    .product-description li {
        color: #666;
        font-size: 10px;
        margin-bottom: 5px;
    }

    .product-description li::before {
        content: "•";
        color: #ff6f00;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }
}

/*=======================================================================================================================================*/
/*MOVIL HORIZONTAL SM 576px*/
/*=======================================================================================================================================*/
@media (max-width: 767px) and (min-width: 576px) {

    /*===========================================*/
    /*HEADER*/
    /*===========================================*/
    .pre-header {
        height: 65px;
    }

    .header-grid {
        display: grid;
        grid-template-columns: 1.5fr 3fr;
    }

    .logo {
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

    .logo::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .logo:hover::before {
        opacity: 1;
    }

    .logo img,
    .logo h1 {
        transition: transform 0.3s;
    }

    .logo:hover img {
        transform: translateX(-5px);
    }

    .logo:hover h1 {
        transform: translateX(10px);
    }

    .logo img {
        width: 50px;
    }

    .logo h1 {
        font-size: 15px;
    }

    .header-grid button {
        font-size: 8px;
        position: relative;
        overflow: hidden;
        height: 25px;
        background-color: #FB5B22;
        color: rgb(0, 0, 0);
        font-weight: 700;
        padding-inline: 15px;
        border: none;
        border-radius: 5px;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .header-grid button i {
        position: relative;
        font-size: 17px;
        font-weight: 100;
        padding-left: 8px;
        padding-right: 8px;
    }

    .header-grid button i .contador-carrito {
        position: absolute;
        top: -5px;
        font-size: 12px;

    }

    /*=================================================*/
    /*CARRUSEL*/
    /*=================================================*/
    .owl-carousel {
        height: 280px;
    }

    .owl-carousel .item-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .owl-carousel .item-grid .grid-item {
        height: 280px;
    }

    .containertor {
        position: relative;
    }

    .title {
        font-size: 15px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }

    .details {
        list-style: none;
        padding: 0;
        margin: 0;
        font-family: "Arial", sans-serif;
        font-size: 10px;
        color: #666;
        animation: pulse 3s ease-in-out infinite;
    }

    .details li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .details li i {
        margin-right: 10px;
        color: #28a745;
    }

    .img-pulse {
        width: 350px !important;
        height: 270px !important;
        animation: pulse-img 2s ease-in-out infinite;
    }

    @keyframes pulse-img {

        0%,
        100% {
            transform: scale(0.6);
            opacity: 0.9;
        }

        50% {
            transform: scale(0.7);
            opacity: 1;
        }
    }

    /*===========================================*/
    /*SECCION PRODUCTOS*/
    /*===========================================*/
    .recorte {
        position: relative;
        width: 350px;
        height: 75px;
        z-index: 1;
    }

    .titulo-seccion {
        top: 50%;
        left: 50%;
        transform: translate(-58%, -50%);
        color: white;
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: 5px;
    }

    .sombra {
        position: relative;
        width: 360px;
        height: 75px;
        margin-top: -55px;
        margin-left: 0px;
        z-index: 0;
    }

    .contenedor-tarjetas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .tarjeta {
        height: 230px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
    }

    .tarjeta:hover {
        transform: scale(1.1);
    }

    .tarjeta img {
        width: 90%;
        height: auto;
        object-fit: cover;
    }

    .tarjeta button {
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        padding: 10px 20px;
        background-color: #FB5B22;
        color: #fff;
        border: none;
        border-radius: 0px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    .tarjeta .icon {
        margin-right: 5px;
        font-size: 15px;
    }

    .tarjeta .text {
        font-size: 12px;
    }

    /*===========================================*/
    /*SECCION - EQUIPOS - INDUSTRIALES*/
    /*===========================================*/
    .recorte-2 {
        position: relative;
        width: 350px;
        height: 75px;
        background-color: rgb(255, 102, 0);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
        overflow: hidden;
        z-index: 1;
    }

    .recorte-2 .titulo-seccion {
        top: 50%;
        left: 50%;
        transform: translate(-38%, -50%);
        color: white;
        text-transform: uppercase;
        font-size: 23px;
        letter-spacing: 5px;
        text-shadow:
            2px 2px 2px rgba(0, 0, 0, 0.3),
            4px 4px 4px rgba(0, 0, 0, 0.3),
            6px 6px 6px rgba(0, 0, 0, 0.3),
            8px 8px 8px rgba(0, 0, 0, 0.3);
    }

    .sombra-2 {
        position: relative;
        width: 360px;
        height: 85px;
        background-color: rgba(192, 183, 183, 0.3);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
        margin-top: -65px;
        margin-left: 0px;
        z-index: 0;
    }

    .posicion-derecha {
        margin-left: auto;
        transform: translateX(calc(100% - 350px));
    }

    .posicion-derecha-sombra {
        margin-left: auto;
        transform: translateX(calc(100% - 360px));
    }

    /*===========================================*/
    /*SECCION GRID INDUSTRIALES*/
    /*===========================================*/
    .grid-industrial {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
    }

    .grid-industrial .card {
        position: relative;
        background-color: #f2f2f2;
        text-align: center;
    }

    .img-industrial {
        width: 100%;
        height: 180px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-size: cover;
        background-position: left top;
        background-repeat: no-repeat;
        overflow: hidden;
        transition: all .3s;
        cursor: pointer;
    }

    .img-industrial:hover {
        background-position: 100% top;
    }

    .grid-industrial .card h3 {
        margin-top: 10px;
    }

    .grid-industrial .card button {
        width: 80%;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        padding: 15px 15px;
        font-size: 10px;
        background-color: #fb5c22b7;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        transition: all .3s;
    }

    .grid-industrial .card button:hover {
        background-color: #ff9d00d4;
        color: #000000;
    }

    .grid-industrial .card button i {
        margin-right: 10px;
    }

    /*===========================================*/
    /*PAGINA PRODUCTOS*/
    /*===========================================*/
    .pagina-productos .categorias {
        width: 25%;
        height: auto;
    }

    .pagina-productos .categorias h1 {
        font-size: 15px;
    }

    .pagina-productos .categorias-img {
        width: 75%;
        height: auto;
    }

    /* CATEGORIAS MENU */

    .category-productos {
        border: 2px solid #00000078;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
    }

    .category-header {
        font-weight: bold;
        font-size: 12px;
        margin-top: 5px;
    }

    .subcategories-productos {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease;
    }

    .subcategories-productos li {
        align-items: center;
        font-size: 10px;
        letter-spacing: 0px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.174);
        height: 35px;
        margin-top: 10px;
        border-radius: 5px;
        margin-left: 0px;
        padding-left: 5px;
        padding-top: 3px;
        transition: all .2s;
        font-weight: 300;
    }

    /*===========================================*/
    /*CATEGORIA IMAGENES*/
    /*===========================================*/
    .container__card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 10px 10px;
        column-gap: 15px;
        row-gap: 15px;
    }

    .cardA {
        height: 250px;
    }

    .body__card_front {
        height: 50px;
        padding: 20px;
    }

    .body__card_front h1 {
        font-size: 10px;
        margin-top: 10px;
        letter-spacing: 0px;
        font-weight: 700;
        color: #ffffff;
    }

    .bg {
        padding: 10px;
        padding-top: 45px;
    }

    .body__card_back {
        padding: 5px;

    }

    .my-button {
        bottom: 5px;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 5px 20px;
        border-radius: 5px;
        font-size: 5px;
        font-weight: 100;
        transition: all 1s;
    }

    .my-button:hover {
        background-color: #ff9000;
    }

    .my-button i {
        top: 2px;
        margin-right: 5px;
        font-size: 12px;
    }

    .product-description {
        padding: 5px 5px;
        padding-top: 15px;
    }

    .product-description li {
        color: #666;
        font-size: 9px;
        margin-bottom: 5px;
    }

    .product-description li::before {
        content: "•";
        color: #ff6f00;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }
}

/*=======================================================================================================================================*/
/*MOVIL VERTICAL 320px*/
/*=======================================================================================================================================*/
@media (max-width: 575px) {

    /*===========================================*/
    /*HEADER*/
    /*===========================================*/
    .pre-header {
        height: 65px;
    }

    .header-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .logo {
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

    .logo::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .logo:hover::before {
        opacity: 1;
    }

    .logo img,
    .logo h1 {
        transition: transform 0.3s;
    }

    .logo img {
        width: 50px;
    }

    .logo h1 {
        font-size: 15px;
    }

    .header-grid button {
        font-size: 8px;
        position: relative;
        overflow: hidden;
        height: 25px;
        background-color: #FB5B22;
        color: rgb(0, 0, 0);
        font-weight: 700;
        padding-inline: 10px;
        border: none;
        border-radius: 5px;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .header-grid button:hover {
        transform: scale(1);
        color: black;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .header-grid button i {
        position: relative;
        font-size: 14px;
        font-weight: 100;
        padding-left: 5px;
        padding-right: 5px;
    }

    .header-grid button i .contador-carrito {
        position: absolute;
        top: -4px;
        font-size: 12px;

    }

    .header-menu {
        overflow: hidden;
        height: 0;
        transition: height 0.1s linear;
    }

    .bloque {
        /* display: none; */
        width: 100%;
        margin-bottom: 8px;
    }

    .header-menu {
        display: flex;
        align-items: center;
    }

    .bloque {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 5px;
    }

    /*=================================================*/
    /*CARRUSEL*/
    /*=================================================*/
    .owl-carousel {
        height: 480px;
        padding: 15px;
    }

    .owl-carousel .item-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .owl-carousel .item-grid .grid-item:nth-child(2) {
        height: 280px;
    }

    .owl-carousel .item-grid .grid-item:nth-child(1) {
        height: 150px;
    }

    .containertor {
        position: relative;
    }

    .anulando {
        position: static;
        top: auto;
        left: auto;
        transform: none;
    }

    .title {
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: #333;
        margin-bottom: 20px;
    }

    .details {
        list-style: none;
        padding: 0;
        margin: 0;
        font-family: "Arial", sans-serif;
        font-size: 10px;
        color: #666;
        animation: pulse 3s ease-in-out infinite;
    }

    .details li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .details li i {
        margin-right: 10px;
        color: #28a745;
    }

    .img-pulse {
        width: 350px !important;
        height: 270px !important;
        animation: pulse-img 2s ease-in-out infinite;
    }

    @keyframes pulse-img {

        0%,
        100% {
            transform: scale(0.6);
            opacity: 0.9;
        }

        50% {
            transform: scale(0.7);
            opacity: 1;
        }
    }

    /*===========================================*/
    /*SECCION PRODUCTOS*/
    /*===========================================*/
    .recorte {
        position: relative;
        width: 270px;
        height: 50px;
        z-index: 1;
    }

    .titulo-seccion {
        top: 50%;
        left: 50%;
        transform: translate(-58%, -50%);
        color: white;
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: 5px;
    }

    .sombra {
        position: relative;
        width: 280px;
        height: 50px;
        margin-top: -35px;
        margin-left: 0px;
        z-index: 0;
    }

    .contenedor-tarjetas {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }

    .tarjeta {
        height: 220px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
    }

    .tarjeta:hover {
        transform: scale(1.1);
    }

    .tarjeta img {
        width: 70%;
        height: auto;
        object-fit: cover;
    }

    .tarjeta button {
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        padding: 10px 20px;
        background-color: #FB5B22;
        color: #fff;
        border: none;
        border-radius: 0px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    .tarjeta .icon {
        margin-right: 5px;
        font-size: 15px;
    }

    .tarjeta .text {
        font-size: 14px;
        letter-spacing: 1px;
    }

    /*===========================================*/
    /*SECCION - EQUIPOS - INDUSTRIALES*/
    /*===========================================*/
    .recorte-2 {
        position: relative;
        width: 270px;
        height: 55px;
        background-color: rgb(255, 102, 0);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
        overflow: hidden;
        z-index: 1;
    }

    .recorte-2 .titulo-seccion {
        top: 50%;
        left: 50%;
        transform: translate(-38%, -50%);
        color: white;
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 5px;
        text-shadow:
            2px 2px 2px rgba(0, 0, 0, 0.3),
            4px 4px 4px rgba(0, 0, 0, 0.3),
            6px 6px 6px rgba(0, 0, 0, 0.3),
            8px 8px 8px rgba(0, 0, 0, 0.3);
    }

    .sombra-2 {
        position: relative;
        width: 280px;
        height: 65px;
        background-color: rgba(192, 183, 183, 0.3);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
        margin-top: -55px;
        margin-left: 0px;
        z-index: 0;
    }

    .posicion-derecha {
        margin-left: auto;
        transform: translateX(calc(100% - 270px));
    }

    .posicion-derecha-sombra {
        margin-left: auto;
        transform: translateX(calc(100% - 280px));
    }

    /*===========================================*/
    /*SECCION GRID INDUSTRIALES*/
    /*===========================================*/
    .grid-industrial {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 10px;
        row-gap: 10px;
    }

    .grid-industrial .card {
        position: relative;
        background-color: #f2f2f2;
        text-align: center;
    }

    .img-industrial {
        width: 100%;
        height: 180px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-size: cover;
        background-position: left top;
        background-repeat: no-repeat;
        overflow: hidden;
        transition: all .3s;
        cursor: pointer;
    }

    .img-industrial:hover {
        background-position: 100% top;
    }

    .grid-industrial .card h3 {
        margin-top: 10px;
    }

    .grid-industrial .card button {
        width: 80%;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        padding: 15px 15px;
        font-size: 12px;
        background-color: #fb5c22b7;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        transition: all .3s;
    }

    .grid-industrial .card button:hover {
        background-color: #ff9d00d4;
        color: #000000;
    }

    .grid-industrial .card button i {
        margin-right: 10px;
    }

    /*===========================================*/
    /*PAGINA PRODUCTOS*/
    /*===========================================*/

    .menu-toggle-button {
        display: block;
        position: absolute;
        top: 0px;
        right: -5px;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        z-index: 6;
        color: white;
        animation: pulse .5s infinite;

    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.2);
        }

        100% {
            transform: scale(1);
        }
    }

    .pagina-productos {
        position: relative;
    }

    .pagina-productos .categorias {
        width: 101%;
        height: auto;
        position: absolute;
        left: -100%;
        padding-right: 35px;
        padding-top: 10px;
        top: 0;
        background-color: #fff;
        transition: left 0.3s ease;
        z-index: 5;
        /* background-color: #00000034; */
    }

    .pagina-productos .categorias-visible {
        left: 0;
        width: 100%;
        padding-right: 0px;
        background-color: #fff;
    }

    .pagina-productos .categorias h1 {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .pagina-productos .categorias-img {
        width: 100%;
        height: auto;
        position: relative;
    }

    /* CATEGORIAS MENU */

    .category-productos {
        border: 2px solid #00000078;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
    }

    .category-header {
        font-weight: bold;
        font-size: 15px;
        margin-top: 5px;
    }

    .subcategories-productos {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease;
    }

    .subcategories-productos li {
        align-items: center;
        font-size: 15px;
        letter-spacing: 0px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.174);
        height: 40px;
        margin-top: 10px;
        border-radius: 5px;
        margin-left: 0px;
        padding-left: 15px;
        padding-top: 8px;
        transition: all .2s;
        font-weight: 300;
    }

    /*===========================================*/
    /*CATEGORIA IMAGENES*/
    /*===========================================*/
    .categorias-img {
        /* padding-top: 35px; */
    }

    .container__card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0px 0px;
        column-gap: 0px;
        row-gap: 25px;
    }

    .cardA {
        height: 320px;
    }

    .body__card_front {
        height: 60px;
        padding: 20px;
    }

    .body__card_front h1 {
        font-size: 13px;
        margin-top: 10px;
        letter-spacing: 0px;
        font-weight: 700;
        color: #ffffff;
    }

    .bg {
        position: relative;
        padding: 0px !important;
        padding-top: 0px !important;
    }

    .bg img {
        width: 250px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -65%);
    }

    .contenedor-tipo {
        height: auto;
    }

    .body__card_back {
        padding: 10px;
    }

    .my-button {
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 5px 20px;
        border-radius: 5px;
        font-size: 5px;
        font-weight: 100;
        transition: all 1s;
    }

    .my-button:hover {
        background-color: #ff9000;
    }

    .my-button i {
        top: 2px;
        margin-right: 5px;
        font-size: 20px;
    }

    .product-description {
        padding: 10px 0px;
    }

    .product-description li {
        color: #666;
        font-size: 11px;
        margin-bottom: 5px;
    }

    .product-description li::before {
        content: "•";
        color: #ff6f00;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }
}